.container {
    width: 400px;
    outline:  solid rgb(115, 255, 0) 1px;
    height: 1000px;
    margin:  0;
    margin:  0 auto;
}

.background_card {
    background-image: url(photos_png/card.png);
    width: 100%;
    /* height: 20%; */
}

ul {
    list-style: none;
}

.identify {
    width: 100px;
    height: 100px;
    /* opacity: .1; */
}

.card {
    width: 25px;
    height: 25px;
    /* opacity: 0.9; */
}

.for_settings {
    border: none;
    /* background-color: ; */
}

.settings {
    display: block;
    width: 25px;
    height: 25px;
}