.container {
    width: 591px;
    /* outline:  solid rgb(115, 255, 0) 1px; */
    /* height: 1000px; */
    margin:  0;
    margin:  0 auto;
    /* margin-left: -5px; */
}

.left {
    width: 591px;
    margin-left: -5px;
    background-color: #ECEDEF;
    height: 1175px;
    position: relative;
}

.background_card {
    background-image: url(photos_png/card.png);
    width: 100%;
    /* height: 20%; */
}

ul {
    list-style: none;
}

.identify {
    width: 100px;
    height: 100px;
    /* opacity: .1; */
}

.card {
    width: 25px;
    height: 25px;
    /* opacity: 0.9; */
}

.for_settings {
    border: none;
    /* background-color: ; */
}

.settings {
    display: block;
    width: 25px;
    height: 25px;
}

.cards {
    display: flex;
}
    
/* .full_header {
    background-image: url(photos_png/block_all.png);
    width: 100%;
    height: 8000px;
    background-size: cover;
    background-repeat: no-repeat;
} */

img {
    margin-top: -9px;
    width: 591px;
    height: auto;
    z-index: 1;
}

.settings {
    margin-top: -715px;
    margin-left: 520px;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.set_twony_five {
    width: 47px;
    height: 47px;
    display: block;
    margin-top: -3px;
    opacity: 0.6;
    margin-left: -8px;
}

.set_twony_five use {
    width: 47px;
    height: 47px;
}


.price {
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 99px;
}


.today {
    text-align: center;
    margin-top: 482px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.transaction {
    width: 54px;
    height: 54px;
}

.payments {
    margin-top: 54px;
    margin-left: 22px;
    display: flex;
    /* position: absolute; */
    padding: 0;
    border:  none;
    cursor: pointer;
    background-color: #ECEDEF;
}

.payments_2 {
    margin-top: 19.6px;
    margin-left: 22px;
    display: flex;
    padding: 0;
    border:  none;
    cursor: pointer;
    background-color: #ECEDEF;
}

.num_card {
    
}

ul {
    padding-left: 0;
}

.sending_card {
    padding-left: 23px;
}

.minus {
    margin-left: 281px;
    margin-top: 13px;
    color: black;
    /* border: 1px red solid; */
}

.line {
    
    width: 45px;
    outline: solid red 1px;
    margin-top: -60px;
    height: 100px;
    margin-left: 523px;
}

.num_card {
    color: black;
}

.sends {
    color: black;
}

.down_menu {
    width: 591px;
    /* margin-left: -5px; */
    position: absolute;
    bottom: 0;
    left: 0;
}